.container {
  padding-top: 4rem;
  min-height: 100vh;
}

.loading {
  background-color: #181b1d;
  z-index: 9999;
}
.loading-fade {
  background-color: #181b1d;
  z-index: 9999;
  visibility: hidden;
  animation: fadeOutAnimation 1s;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-user-select: none;
  -website-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.spinner {
  width: 300px;
  margin: auto;
  display: block;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

a,
a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}
